<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="https://github.com/relativelyIntuitive">
    <meta name="description"
        content="ZeeboVO is a proffessional provider of rich and charismatic vocal recordings for ANY voiceover! Narrations, character voices, explainer videos, audiobooks, corporate / industrial films, phone systems and more! Book today!">

    <!-- Google "Bangers" font -->
    <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet'>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- My CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <meta property=”og:image” content="{% static 'images/favicon.ico' %}">

    <title> ZeeboVO Admin Dashboard </title>
</head>

<body>
    <div id="wrapper" class="admin container">
        <nav id="header" class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

            <a id="logo" class="navbar-brand" href="/">
                <img id="z_icon" src="{% static 'images/zeebovo_icon.png' %}">
                <span class="logo_zeebo"> eebo</span><span class="logo_vo"><strong>VO </strong></span>
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/"> Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about"> About Me </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/demos"> Demos </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/news"> News </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/bookings"> Bookings </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.linkedin.com/in/relativelyintuitive/" target="_blank">
                            <img id="li_icon" src="{% static 'images/linkedin_icon_square_orange.png' %}" alt="missing icon!">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/relativelyintuitive/" target="_blank">
                            <img id="gh_icon" src="{% static 'images/github_icon_square_orange.png' %}" alt="missing icon!">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="content container">
            <div class="row">
                <div class="col">
                    <br>
                    <h1> Greetings Master! It is I, your faithful website! </h1>
                    {% if areNew > 0 %}
                    <h5> You have {{areNew}} new messages, sire! </h5>
                    {% else %}
                    <h5> You have no new messages, sir! </h5>
                    {% endif %}
                </div>
            </div>

            {% if messages %}
            <div class="row">
                <div class="col">
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                            <p>{{message}}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}

            <div class="row">
                <div class="col">
                    <div class="inbox container table-responsive">
                        <table class="table table-dark table-striped table-bordered table-hover table-sm">
                            <thead id="inbox_head">
                                <tr>
                                    <th scope="col"><a href="/admin/inbox-sort/id"> id# </a></th>
                                    <th scope="col"><a href="/admin/inbox-sort/created_at"> Received (UTC) </a></th>
                                    <th scope="col"><a href="/admin/inbox-sort/name"> Client </a></th>
                                    <th scope="col"><a href="/admin/inbox-sort/content"> Message </a></th>
                                    <th scope="col"><a href="/admin/inbox-sort/script_url"> URL </a></th>
                                    <th scope="col"><a href="/admin/inbox-sort/email"> E-Mail </a></th>
                                </tr>
                            </thead>
                            <tbody id="inbox_body">
                                {% for message in inbox %}
                                {% if message.isNew == True %}
                                <tr class="bg-danger">
                                    {% else %}
                                <tr>
                                    {% endif %}
                                    <th scope="row"><a href="/admin/view/message/{{message.id}}"> {{message.id}} </a></th>
                                    <td> {{message.created_at}} </td>
                                    <td> {{message.name}} </td>
                                    <td><a href="/admin/view/message/{{message.id}}"> {{message.content}} </a></td>
                                    <td>
                                        {% if message.script_url|length > 1 %}
                                        <a href="{{message.script_url}}" target="_blank"> {{message.script_url}} </a>
                                        {% else %}
                                        N/A
                                        {% endif %}
                                    </td>
                                    <td><a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to={{message.email}}&su=A reply from ZeeboVO&body=-Zack, ZeeboVO&tf=1"
                                            target="_blank">
                                            {{message.email}} </a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col">
                    <div id="news_form" class="container">
                        <h3> News Post </h3>
                        <form action="/admin/post/article" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"> Headline </span>
                                        </div>
                                        <input name="articleHeadline" type="text" class="form-control"
                                            placeholder="Article headline here..." aria-label="Article headline field">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> Body </span>
                                        </div>
                                        <textarea name="articleBody" placeholder="Article body here..." maxlength="1500"
                                            class="form-control" aria-label="Article body field"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col"></div>
                                <div class="col">
                                    <button type="submit" class="btn btn-primary btn-lg"> Post </button>
                                </div>
                                <div class="col"></div>
                            </div>
                        </form>
                    </div>

                    <div id="demo_form" class="container">
                        <h3> Demo Post </h3>
                        <form action="/admin/post/demo" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"> Label </span>
                                        </div>
                                        <input name="demoLabel" type="text" class="form-control"
                                            placeholder="Demo label here..." aria-label="Demo title field">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"> Genre </span>
                                        </div>
                                        <input name="demoGenre" type="text" class="form-control"
                                            placeholder="Demo genre here..." aria-label="Demo genre field">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> File </span>
                                        </div>
                                        <div class="custom-file">
                                            <input name="demoFile" type="file" class="custom-file-input"
                                                id="inputGroupFile01">
                                            <label class="custom-file-label" for="inputGroupFile01"> .WAV file
                                                upload
                                                here...
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col"></div>
                                <div class="col">
                                    <button type="submit" class="btn btn-primary btn-lg"> Post </button>
                                </div>
                                <div class="col"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div id="about_form" class="container">
                    <h3> Update About </h3>
                    <form action="/admin/update/about" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> Pic </span>
                                    </div>
                                    <div class="custom-file">
                                        <input name="picFile" type="file" class="custom-file-input"
                                            id="inputGroupFile01">
                                        <label class="custom-file-label" for="inputGroupFile01"> Picture file upload
                                            here...
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"> Header </span>
                                    </div>
                                    <input name="aboutHeader" type="text" class="form-control"
                                        placeholder="About header here..." aria-label="About header field">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"> Paragraph 1 </span>
                                    </div>
                                    <textarea name="aboutP1" placeholder="About paragraph 1 text here..." maxlength="1500"
                                        class="form-control" aria-label="About paragraph 1 field"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"> Paragraph 2 </span>
                                    </div>
                                    <textarea name="aboutP2" placeholder="About paragraph 2 text here..." maxlength="1500"
                                        class="form-control" aria-label="About paragraph 2 field"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary btn-lg"> Post </button>
                            </div>
                            <div class="col"></div>
                        </div>
                    </form>
                </div>
            </div>
            <br>

            <div class="row">
                <div id="video_form" class="container">
                    <h3> Update Video </h3>
                    <h5> (associated override url will be cleared to null on every submission unless provided!) </h5>
                    <form action="/admin/update/video" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> File </span>
                                    </div>
                                    <div class="custom-file">
                                        <input name="videoFile" type="file" class="custom-file-input"
                                            id="inputGroupFile01">
                                        <label class="custom-file-label" for="inputGroupFile01"> .MP4 file upload
                                            here...
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"> Source-override URL?
                                        </span>
                                    </div>
                                    <input name="backupUrl" type="url" class="form-control"
                                        placeholder="Paste http / https URL here..."
                                        aria-label="Backup-video URL field">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary btn-lg"> Post </button>
                            </div>
                            <div class="col"></div>
                        </div>
                    </form>
                </div>
            </div>
            <br>

            <div class="row">
                <div id="pw_form" class="container">
                    <h3> Update Password </h3>
                    <form action="/admin/update" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"> Current Password: </span>
                                    </div>
                                    <input name="currentPw" type="password" class="form-control"
                                        placeholder="Current password here..." aria-label="Current password field">
                                    <input type="hidden" name="currentUserId" value="{{currentUserId}}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"> New Password: </span>
                                    </div>
                                    <input name="newPw" type="password" class="form-control"
                                        placeholder="New password here..." aria-label="New password field">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"> Confirm New Password: </span>
                                    </div>
                                    <input name="confNewPw" type="password" class="form-control"
                                        placeholder="Confirm new password here..." aria-label="Confirm new password field">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary btn-lg"> Update </button>
                            </div>
                            <div class="col"></div>
                        </div>
                    </form>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col">
                    <p> .../relativelyIntuitive/ </p>
                </div>
            </div>
        </div>

        <div id="footer">
            <p><strong> Copyright ©2020 Zachery A. Bielicki, all rights reserved </strong></p>
            <a class="btn btn-sm btn-link" href="/admin/logout"><strong> Log Out </strong></a>
        </div>
    </div>

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

</body>
</html>
